<div class="navbar-container">
  <mat-toolbar class="header">
    <div class="header-left">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    
    <div class="header-center">
      <div class="header-dot"></div>
    </div>
    
    <div class="header-right">
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>person</mat-icon>
      </button>
      
      <mat-menu #profileMenu="matMenu" class="profile-popup">
        <div class="profile-header" mat-menu-item disabled>
          <mat-icon class="popup-profile-icon">person</mat-icon>
          <span class="profile-header-text">Perfil</span>
        </div>
        
        <mat-divider></mat-divider>
        
        <div class="profile-info">
          <div mat-menu-item disabled class="profile-name">
            <span>NOMBRES APELLIDOS</span>
          </div>
          
          <button mat-menu-item class="profile-options" (click)="viewProfile()">
            <mat-icon>person</mat-icon>
            <span>Ver Perfil</span>
          </button>
          
          <button mat-menu-item class="profile-options logout-link" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar>

  <!-- Sidebar integrado -->
  <app-sidebar 
    [isVisible]="sidebarVisible" 
    (closeSidebar)="closeSidebar()">
  </app-sidebar>

  <!-- Overlay para cerrar el sidebar -->
  <div 
    class="sidebar-overlay" 
    [class.active]="sidebarVisible"
    (click)="closeSidebar()">
  </div>
</div>