/* src/app/dashboard/components/campus-card/campus-card.css */

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.card-text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}

.ingresar-btn {
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 10px 0;
  background-color: #1c2777; /* Azul oscuro de la UNAJ */
  color: white;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}