<!-- CAMBIO: Restaurada la estructura de tarjeta vertical -->
<main class="campus-list">
  
  <mat-card 
    *ngFor="let campus of campusList; trackBy: trackByCampusId" 
    class="campus-card">
    
    <div class="card-image-container" [style.background-image]="'url(' + campus.image + ')'"></div>
    
    <mat-card-content>
      <mat-card-title>{{ campus.name }}</mat-card-title>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" class="campus-button" (click)="openSede(campus.id)">
        <mat-icon>add</mat-icon>
        Ingresar datos
      </button>
    </mat-card-actions>
  </mat-card>

</main>